*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    background-color: #ebe3de;
}

.logo {
    display: flex;
    justify-content: space-between;
    letter-spacing: 3px;
    font-size: 3rem;
    color: #2c2821;
    padding: 3rem 1.5rem;
}

.menu {
    transition: all 0.2s;
}

.menu:hover, .menu:active {
    font-weight: 500;
}

.grid {
    display: grid;
}

.ml-5 {
    margin-left: 5vw;
}

.ml-10 {
    margin-left: 10vw;
}

.mr-10 {
    margin-right: 10vw;
}

.mr-5 {
    margin-right: 5vw;
}