*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    background-color: #ebe3de;
}

a:link, a:visited {
    text-decoration: none;
    color: #8d8885;
    transition: 0.2s;
}

a:active, a:hover {
    text-decoration: none;
    color: #8d8885;
    font-weight: 500;
}

.logo {
    display: flex;
    justify-content: space-between;
    letter-spacing: 3px;
    font-size: 3rem;
    color: #2c2821;
    padding: 3rem 1.5rem;
}

.logoBtn {
    cursor: pointer;
}

.menu {
    transition: all 0.2s;
    z-index: 300;
    letter-spacing: 3px;
    font-size: 3rem;
    padding: 0rem 1.5rem;
    justify-self: right;
    z-index: 10;
    position: relative;
}

.menu:hover, .menu:active {
    font-weight: 500;
    cursor: pointer;
}

.header{
    z-index: 300;
}

.sideBar {
    width: 50vw;
    position: fixed;
    height: 100%;
    max-width: 60rem;
    display: flex;
    flex-direction: column;

    right: 0rem;
    top: 0rem;
    background-color: rgb(247, 240, 235);
    transform: translate(800px,0);
    transition: all 0.4s;

}

.catchPhrase{
    margin-top: 15rem;
}

.Phrases {
    padding: 1.5rem 8rem;
    font-size: 4.7rem;
}

.sideBar ul {
    list-style-type: none;
    padding: 2rem 8rem;
    margin-top: 2vw;
}

.sideBar ul li {
    margin-bottom: 3.6rem;
    font-size: 2.4rem;
}

.grid {
    display: grid;
}

.grid--2-cols-2-1 {
    grid-template-columns: 2fr 1fr;
}

.grid--2-cols-3-1 {
    grid-template-columns: 3fr 1fr;
}

.ml-5 {
    margin-left: 5vw;
}

.ml-10 {
    margin-left: 10vw;
}

.mr-10 {
    margin-right: 10vw;
}

.mr-5 {
    margin-right: 5vw;
}