/*
Hero Section && header section
*/


header {
    margin-bottom: 10rem;
    position:fixed;
    top: 0;
    width: 100%;
}

.introHeading {
    font-size: 12vw;
    color:#2c2821;
    font-weight: 500;
    letter-spacing: 1rem;
}

.firstHeading {
    margin-top: 10vw;
}

.greeting {
    margin-top: 5rem;
    margin-bottom: 10vw;
}

.greetingGrid {
    grid-template-columns: 1.5fr 1fr;
}

.greetingMessage {
    font-size: 1.5vw;
    line-height: 1.5;
    font-weight: 450;
    letter-spacing: 1px;
}

.highlight {
    color: #8d8885;
}

.whatIDo {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: end;
    font-size: 3vw;
}

/*
    Main Key points in the presentation
*/

.divider {
    width: 100%;
    background-color: #000;
    height: 2px;
}

.points {
    display:flex;
    justify-content: space-between;
    height: 20vw;
    margin-bottom: 5vw;
}

.pointsDescription {
    margin-top: 10vw;
}

.pointsImg {
    height:100%;
    width: 40vw;
}

.pointsHeading {
    font-size: 3vw;
}

/*
pixieset.html css
*/

.title {
    margin-top: 10vw;
    margin-bottom: 2vw;
}

.descriptionTitle {
    font-size: 5vw;
    font-weight: 600;
    letter-spacing: 5px;
}

.pixieGreet {
    font-size: 1vw;
    line-height: 1.5;
    font-weight: 450;
    letter-spacing: 1px;
    margin-bottom: 5rem;
}

.jobDescription {
    margin-top: 10rem;
}

.jobH3 {
    font-size: 2vw;
    margin: 0 0 2rem 2rem;
}

.spaceFooter {
    height: 10vw;
}

/*
Learning Section
*/

.learningHero{
    display: flex;
    height: 50vw;
    background: no-repeat center/90%;
    background-image: url("img/pixiesetCG.jpg");
}

.learningTitle{
    margin: 5vw 0 10vw 5vw;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.lightDescription{
    font-size: 3vw;
    font-weight: 600;
    letter-spacing: 2px;
    font-style: italic;
    margin-bottom: 1vw;
}

.learningTextBox{
    display: flex;
    flex-direction: column;
    padding: 0 3vw 0 3vw;
    gap: 2vw;
}


.learningHeader{
    font-size: 2vw;
}

.textHolder {
    font-size: 1vw;
    line-height: 1.5;
}

.learning-img-holder-l{
    padding-left: 3vw;
    display: flex;
}

.learning-img-holder-R{
    padding-right: 3vw;
    display: flex;
}

.learningImgs {
    width: 100%;
    align-self: center;
}

/*
Job search section
*/

.jobHero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 40vw;
    margin-bottom: 10vw;
}

.jobImgHolder {
    align-self: center;
}

.jobImgHolder img {
    width: 100%;
}

.jobSearchHeroText {
    align-self: center;
}

.jobSearchHeroText h1{
    font-size: 2vw;
    font-weight: 750;
    margin-bottom: 1vw;
}

.jobSearchSubHeading {
    margin-bottom: 0.3vw;
    font-size: 1.4vw;
}

.buttons {
    margin-top: 2vw;
    display: flex;
    gap: 10vw;
    margin-bottom: 5vw;
}

.btnGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.btnGroup a {
    font-size: 2vw;
    padding: 1vw 2vw;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.03);
    margin-bottom: 1vw;
    color: #cf711f;
}

.orange{
    color:orange;
}

.btnText {
    font-size: 0.8vw;
    font-weight: 600;
}

.logo-flex {
    display: flex;
    gap: 7vw;
    align-items: center;
}

.jobCircles {
    display: flex;
}

.jobCircles img {
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    margin-right: -1vw;
    border: 0.15vw solid #ebe3de;
    background-color: white;
}

.jobCatchPhrase {
    font-size: 1vw;
    font-weight: 550;
}

.jobSearch h2 {
    font-size: 1.2vw;
    margin-bottom: 0.5vw;
}

.jobsMainHeader {
    font-size: 3vw;
    margin-bottom: 5vw;
}

.stepFlex {
    align-items: center;
    margin-bottom: 10vw;
}

.StepNumber {
    font-size: 15vw;
    font-weight: 800;
    color: orange;
}

.stepHeading {
    font-size: 2vw;
    margin-bottom: 3vw;
}

.stepTexts {
    font-size: 1vw;
    line-height: 1.4;
}

.stepImgBox {
    padding: 2vw;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.stepImg {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border-width: 1vw;
    border-color: rgb(223, 219, 212);
    border-style: solid;
}